.display-flex {
    display: flex;
}

.display-flex-center {
    @extend .display-flex;
    align-items: center;
}

.display-grid {
    display: grid;
}

@media (max-width: 576px) {
    .display-m-grid {
        display: grid;
    }
}