.margin-l-1 {
    margin-left: 1rem;
}

.margin-t-1 {
    margin-top: 1rem;
}

.margin-t-2 {
    margin-top: 2rem;
}

.margin-t-3 {
    margin-top: 3rem;
}

.margin-t-4 {
    margin-top: 4rem;
}

.margin-t-5 {
    margin-top: 5rem;
}


.margin-b-1 {
    margin-bottom: 1rem;
}

.margin-b-2 {
    margin-bottom: 2rem;
}

.margin-b-3 {
    margin-bottom: 3rem;
}

.margin-b-4 {
    margin-bottom: 4rem;
}

.margin-b-5 {
    margin-bottom: 5rem;
}

.margin-none {
    margin: 0;
}