.input {
    display: block;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    padding: 14px;
    color: $input-text-color;
    box-shadow: $input-box-shadow;
    border-radius: $input-border-radius;
    border: 1px solid $input-border-color;
    background-color: $input-bg;
    background-clip: padding-box;
    appearance: none;
    transition: $input-transition;

    &:focus {
        outline: 0;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
    }
}

.group {
    display: grid;
    grid-gap: 0.6rem;

    .label {
        font-family: $font-family-sans-serif;
        font-size: 14px;
        color: $gray-600;
    }
}