*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background: var(--#{$variable-prefix}light);
    color: var(--#{$variable-prefix}dark);
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: rgba(var(--#{$variable-prefix}dark), 0); 
}

// Fonts

@font-face {
    font-family: 'Inter Regular';
    src: url('../../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter Extra Bold';
    font-weight: 800;
    src: url('../../fonts/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: 'Inter Bold';
    font-weight: 700;
    src: url('../../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter Semi Bold';
    font-weight: 600;
    src: url('../../fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter Medium';
    font-weight: 500;
    src: url('../../fonts/Inter-Medium.ttf');
}



// Typography

%heading {
    margin-top: 0; // 1
    margin-bottom: 1rem;
    font-family: $font-family-extra-bold;
    line-height: 1.2;
    color: var(--#{$variable-prefix}dark);
}

h1 {
    @extend %heading;
    font-size: $h1-font-size;
}

h2 {
    @extend %heading;
    font-size: $h2-font-size;
}

h3 {
    @extend %heading;
    font-size: $h3-font-size;
}

h4 {
    @extend %heading;
    font-size: $h4-font-size;
}

h5 {
    @extend %heading;
    font-size: $h5-font-size;
}

h6 {
    @extend %heading;
    font-size: $h6-font-size;
}

// Parapgraphs & Texts

span, p, small {
    color: var(--#{$variable-prefix}dark);
}

p {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
    line-height: 1.8;
}

// Link

a {
    text-decoration: none;
    color: var(--#{$variable-prefix}dark);

    &:hover {
        color: currentColor;
    }
}

// List

ul {
    list-style: none;
}


