.container {
    max-width: 1200px;

    @media (max-width: 1200px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: 576px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.dot-overlay {
    background: url('../media/bg-dot.png');
    background-size: 10px;
}