.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: $navbar-padding-y;
    padding-right: $navbar-padding-x; // default: null
    padding-bottom: $navbar-padding-y;
    padding-left: $navbar-padding-x; // default: null
    height: 80px;

    #menu {
        display: none;
        @media (max-width: 576px) {
            display: block;
        }
    }

    .brand {
        font-weight: 700;
        font-size: 26px;
        display: flex;
        align-items: center;

        img {
            width: 50px;
            margin-right: 10px;
        }
    }

    .navbar-menu {
        display: flex;
        align-items: center;

        @media (max-width: 576px) {
            position: fixed;
            left: 0;
            top: 0;
            height: auto;
            max-height: 350px;
            background-color: var(--#{$variable-prefix}light);
            border-bottom: 1px solid $gray-200;
            width: 100%;
            margin: 0;
            padding: 30px;
            z-index: 10;
            display: none;
        }

        .navbar-item {
            position: relative;
            font-size: 16px;
            
            @media (max-width: 576px) {
                margin-top: 1.5rem;
                
                &:nth-child(1) {
                    margin-top: 0;
                }
            }
        }

        .active {
            font-weight: 600;
            color: var(--#{$variable-prefix}primary) !important;
            border-bottom: 3px solid var(--#{$variable-prefix}primary);
            padding-bottom: 12px;
        }
    }

    @media (max-width: 576px) {
        .social-media {
            display: none;
        }
    }
}

.header {
    background-color: var(--#{$variable-prefix}light);
    width: 100%;
    border-bottom: 1px solid $gray-200;
    transition: all 2ms ease-in-out;
}